
 <!--footer-->
        <footer class="footer">
                <div class="container-fluid sub-foot">
                    <div class="row">
                        <div class="col-sm-4">
                            
                <h3>Get in touch</h3>
                
                
                <p class="title"><a href="" >E-mail:</a>netsignreg@gmail.com </p>
                <p class="title"><a href="" >Phone/Whatsapp:</a>+234 -806-7950-766 </p>
                    </div>
                
                <div class="col-sm-4">
                    
                        <h3>Follow me</h3>
                        <a href="#"> <i class="fab fa-facebook-square"></i></a> |&nbsp;
            <span class="spa"><a href="#"><i class="fab fa-twitter-square"></i></a></span> |&nbsp;
            <span class="spa"><a href="#"><i class="fab fa-instagram-square"></i></a></span>&nbsp; | <span class="spa"><i class="fab fa-youtube"></i>
              <a href="#"></a></span> | <span class="spa"><i class="fab fa-slack"></i> <a href="#"></a></span>
              .
              
                        </div>
                        
               
                <div class="col-sm-4">
                   
                    <h3>Subscribe to my Newsletter.</h3>
                   
                
                    <form action="/signup" method="post">
                    <div class="form-group">
                    <input type="email"  name="email" class="form-control" placeholder="Email Address">
                    <input type="submit"  class="form-control submit" value="Subscribe">
                    </div> </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">               
                <div class="copy">
                        <p >&copy 2020 | Designed by <a href="#">Nielvid</a> <span class="spa">| All rights reserved</span></p>
            
                </div>
            </div>
        </div> 
</footer>
