<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>My Blog</title>
</head>
<body>
    <nav class ="nav navbar navbar-default">
    <div class="container-fluid" >
        <div class="row" >
            <div class="navbar-brand" ><a href="/blog">My Blog</a> </div>

            <div class="navigation">
                <ul class=" navbar navbar-nav mylist">
                    <li class="active"><a href="/blog">home</a></li>
                    <li ><a href="#">About</a></li>
                    <li ><a href="/newpost">Add New</a></li>
                    
               </ul>
            </div>
        </div>
        
        
    </div>
    </nav>