<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
 <h1>Blog Articles </h1>  
 <a href="/newpost"><h4>New Post</h4></a>
 <% article.forEach(item=>{ %>
<div>
    <a href="#"><%= item.title %></a>
    <p> <%= item.createdAt %></p>
   <p><%= item.body %></p>
    
</div>
<% }) %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/9f5cd78fa4.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>